/* CONTENT */
.content__card {
  border-radius: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 400px;
  margin: 40px 80px 40px 80px;
}

.content__card_img {
  width: 300px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content__card_bottom {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.content__card_like {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 12.5px 0 12.5px;
  border-color: #bbbcbd transparent transparent transparent;
  background-color: white;
  margin-right: 10px;
}

.content__card_comment {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 0;
  background-color: #bbbcbd;
}
