{% extends '_base.html' %}


{% block not_auth_content %}
<div class="auth_content">
    <div class="login_form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock not_auth_content %}

{% block content %}
<div class="auth_content">
    <div class="login_text">
        <h1>Hey {{ user }}, you're logged in</h1>
    </div>
</div>
{% endblock content %}
