{% extends '_base.html' %}


{% block not_auth_content %}

{% comment %} <style>
    .signup_form {
        margin-left: 20px;
    }
</style> {% endcomment %}

<div class="auth_content">
    <div class="signup_form">
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}

            {{ form.password1.label_tag }}
            {{ form.password1 }}

            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock not_auth_content %}

{% block content %}
<div class="auth_content">

</div>
{% endblock content %}