{% extends '_base.html' %}

{% block content %}
<div class="menu">
    <div class="menu__top">
        <img class="menu__img" src="{{ user.profile.avatar.image.url }}" alt="">
        <div class="menu__name">{{ user }}</div>
        <ul class="menu__links">
            <a href="{% url 'core:my_friends' %}">
                <li class="menu__link">Friends</li>
            </a>
            <a href="{% url 'core:my_posts' %}">
                <li class="menu__link">Posts</li>
            </a>
            <a href="{% url 'core:home' %}">
                <li class="menu__link">News</li>
            </a>
        </ul>
    </div>
    <ul class="menu__bottom">
        <a href="{% url 'users:settings' %}">
            <li class="menu__bottom_item">Settings</li>
        </a>
        <a href="{% url 'logout' %}">
            <li class="menu__bottom_item">Logout</li>
        </a>
    </ul>
</div>

<div class="coming__soon">
    <div class="coming__soon_wrapper">
        <div class="coming__soon_content">
            <h2>Coming soon stay tuned :)</h2>
        </div>
    </div>
</div>
{% endblock content %}

{% block not_auth_content %}
<div class="coming__soon_notauth">
    <div class="coming__soon_wrapper">
        <div class="coming__soon_content">
            <h2>Coming soon stay tuned :)</h2>
        </div>
    </div>
</div>
{% endblock not_auth_content %}