{% extends '_base.html' %}

{% block content %}
<div class="menu">
    <div class="menu__top">
        <img class="menu__img" src="{{ user.profile.avatar.image.url }}" alt="">
        <div class="menu__name">{{ user }}</div>
        <ul class="menu__links">
            <a href="{% url 'core:my_friends' %}">
                <li class="menu__link">Friends</li>
            </a>
            <a href="{% url 'core:my_posts' %}">
                <li class="menu__link">Posts</li>
            </a>
            <a href="{% url 'core:home' %}">
                <li class="menu__link">News</li>
            </a>
        </ul>
    </div>
    <ul class="menu__bottom">
        <a href="{% url 'users:settings' %}">
            <li class="menu__bottom_item">Settings</li>
        </a>
        <a href="{% url 'logout' %}">
            <li class="menu__bottom_item">Logout</li>
        </a>
    </ul>
</div>

<div class="post__creation">
    <div class="post__creation_form">
        <form class="post__form" action="{% url 'core:post_creation' %}" method="post" class="post_creation_form">
            {% csrf_token %}

            <table>
                <tr>
                    <td>{{ form.image.label_tag }}</td>
                    <td>{{ form.image }}</td>
                </tr>
                <tr>
                    <td>{{ form.title.label_tag }}</td>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                    <td>{{ form.body.label_tag }}</td>
                    <td>{{ form.body }}</td>
                </tr>
            </table>
            <div class="post__creation_btn">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
    </div>

    <div class="errors">
        {% if errors %}
        <span class="badge badge-pill badge-danger">{{ errors }}</span>
        {% endif %}
    </div>
</div>


{% endblock content %}