/* CONTENT */
.card {
  padding: 20px;
  margin: 0 5%;
  margin-bottom: 50px;
  width: 40%;
  max-height: 380px;
  border-radius: 25px;
}

.card-body {
  padding: 16px 0px;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action {
  display: flex;
  justify-content: space-between;
}

.card__action_like {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 12.5px 0 12.5px;
  border-color: #bbbcbd transparent transparent transparent;
  background-color: white;
  margin-right: 10px;
}

.card__action_comment {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 0;
  background-color: #bbbcbd;
}





.sticky_button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}

.position-sticky {
  display: flex;
  justify-content: flex-end;
}

.post_create_button {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  margin: 20px 40px
}

.post_create_button a{
  color: black;
}