.signup__form {
    display: inline-block;
    width: 45%;
    padding: 30px;
    background-color: rgb(100, 202, 227);
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.btn {
    border-radius: 20px;
    width: 35%;
}