{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Step project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <div class="header">
        <div class="header__left">
            <h1 class="header__title"><a class="nav_link" href="{% url 'core:home' %}">IT Step Project</a></h1>
            <h2 class="header__about"><a class="nav_link" href="#about">About</a></h2>
        </div>
        <div>
            <h3 class="header__user">Hello, {{ user }}</h3>
        </div>
    </div>
    <div class="menu">
        <div class="menu__top">
            <img class="menu__img" src="{{ user.profile.avatar.image.url }}" alt="">
            <div class="menu__name">{{ user.first_name}} {{ user.last_name }}</div>
            <ul class="menu__links">
                <a href="#">
                    <li class="menu__link">Friends</li>
                </a>
                <a href="{% url 'core:my_posts' %}">
                    <li class="menu__link">Posts</li>
                </a>
                <a href="{% url 'core:home' %}">
                    <li class="menu__link">News</li>
                </a>
            </ul>
        </div>
        <ul class="menu__bottom">
            <a href="">
                <li class="menu__bottom_item">Settings</li>
            </a>
            <a href="{% url 'logout' %}">
                <li class="menu__bottom_item">Logout</li>
            </a>
        </ul>
    </div>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% else %}
        <h1>U'r not logged in</h1>
        <h1>Please go the <a href="{% url 'login' %}">login page</a></h1>

    {% endif %}
</body>

</html>